* {
    box-sizing: border-box;
    /* อ้างอิงขนาดจริง */
}

body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
}

.form {
    padding: 10px 40px;
}

h1 {
    text-align: center;
    margin: 20px 0 20px 20px;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* ให้หัวข้อไปอยู่ด้านบน */
.form-control label {
    display: block;
    margin-bottom: 5px
}

/* แต่งส่วนที่ผู้ใช้กรอก */
.form-control input {
    display: block;
    border: 2px solid lightgray;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: none !important;
    box-shadow: 0 0 5px blue;
}

.form button {
    background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    display: block;
    padding: 10px;
    font-size: 20px;
    padding: 15px;
}

.eyeoff {
    position: absolute;
    top: 35px;
    right: 3%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 95%;
    }
}